*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@font-face {
	font-family: "Playfair Display";
	src: local('../fonts/PlayfairDisplay-Regular'), url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Ubuntu";
	src: local('../fonts/Ubuntu-Light'), url('../fonts/Ubuntu-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

body{
	font-family: "Playfair Display";
}
.header{
	max-width: 1062px;
	margin: 70px auto;
	border-bottom: 1px solid #E2E8F0;
}
@media (max-width: 768px) {
	.header{
		margin: 0px auto;
	}
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: 0 auto;
	align-items: center;
	padding: 1rem 1.5rem;
}
@media (max-width: 1200px){
	navbar{
		max-width: 970px;
	}
}
@media (max-width: 992px){
	navbar{
		max-width: 750px;
	}
}
@media (max-width: 768px){
	navbar{
		max-width: none;
	}
}
.hamburger {
	display: none;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #101010;
}
.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}
.image{
	max-width: 100%;
	height: 23px;
}
.nav-menu{
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	line-height: 24px;
	color: #626262;
	font-weight: 400;
	align-items: center;
}
.nav-item{
	margin-left: 5rem;
}
@media (max-width: 990px) {
	.nav-item {
		margin-left: 2rem;
	}
}
.nav-link{
	font-size: 1.6rem;
	font-weight: 400;
	color: #475569;
}
@media only screen and (max-width: 768px) {
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		background-color: #fff;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}
	
	.nav-menu.active {
		left: 0;
	}

	.nav-item {
		margin: 2.5rem 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}
	.image1 {
		display:none;
	}
}
.image1{
	max-width: 1062px;
	/*display: flex;*/
	height: 650px;
	margin: 0 auto;
}
.picture {
	max-width: 100%;
}
.cover1{
	max-width: 1200px;
	flex: 0 1 50%;
	padding: 0px 0px;
	margin: 0 auto;
}
.block, .block1 {
	max-width: 900px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
@media (max-width: 768px) {
	.block {
		display:none;
	}
	.block1 {
		padding: 0 15px;
	}
}
.font{
	font-size: 14px;
	color: #b4ad9e;
	font-weight: 300;
	font-family: "Ubuntu";
	margin-top: 30px; 
}
.font1{
	font-size: 30px;
	color: #626262;
	font-weight: 400;
	margin: 30px 0 35px 0;
}
.font2{
	font-size: 14px;
	line-height: 24px;
	color: #626262;
	font-weight: 400;
	margin-bottom: 52px;
}
.block2{
	max-width: 900px;
	margin: 120px auto;
}
@media (max-width: 768px) {
	.block2 {
		margin: 30px auto;
		padding: 0 15px;
	}
}
.container{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -30px; 
}
@media (max-width: 990px) {
	.container {
		margin: 0 -10px;
	}
}
.columns{
	flex: 0 1 50%;
	padding: 0px 30px;
}
@media (max-width: 768px) {
	.columns {
		max-width: 100%;
		padding: 0 10px;
		margin: 0 auto;
	}
}
.column_item{
	display: flex;
	flex-direction: column;
}
.item_image{
	flex: 0 0 300px;
}
.item_body{
	flex: 1 1 auto;
}
.wrapper{
	max-width: 100%;
	margin: 45px auto;
}
.block3{
	max-width: 100%;
	display: flex;
	background-color: #f0f0f0;
	flex-direction: column;
}
.block_item1{
	max-width: 400px;
	display: flex;
	padding-top: 80px;
	margin: 0 auto;
}
@media (max-width: 768px) {
	.block_item1 {
		padding-top: 40px;
	}
}
.font3{
	font-size: 30px;
	letter-spacing: 1px;
	color: #333333;
	font-weight: 400;
}
@media (max-width: 768px) {
	.font3 {
		font-size: 15px;
		letter-spacing: 0.5px;
		font-weight: 250;
	}
}
.block_item2{
	max-width: 400px;
	margin: 70px auto;
	display: flex;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
	align-items: center;
}
@media (max-width: 768px) {
	.block_item2 {
		margin: 30px auto;
		padding-bottom: 5px;
	}
}
.form{
	max-width: 170px;
	font-size: 14px;
	line-height: 24px;
	color: #626262;
	font-weight: 400;
	background-color: #f0f0f0;
}
.button{
	max-width: 50px;
	height: 15px;
	margin: 0 0 0 160px;	
}
@media (max-width: 768px) {
	.button {
		margin: 0 0 0 60px;
	}
}
.block4{
	display: flex;
	justify-content: center;
	margin: 160px 0 130px 0px;
}
@media (max-width: 768px) {
	.block4 {
		margin: 40px 0 30px 0px;
	}
}
.block_button{
	max-width: 165px;
	border: 1px solid #161616; 
	line-height: 24px;
	color: #626262;
	font-size: 20px;
	font-weight: 400;
	padding: 20px 35px;
	text-align: center;
}
@media (max-width: 800px) {
	.block_button {
		padding: 5px 10px;
	}
}
.color1{
	color: #626262;
}
.cover2{
	display: block;
	max-width: 100%;
	margin: 45px auto;
	background-color: #f0f0f0;
}
.wrapper1{
	justify-content: space-around;
	display: flex;
	padding: 40px 0;
	align-items: baseline;
}
.block5{
	width: 200px;
	display: flex;
	justify-content: space-between;
}
@media (max-width: 768px) {
	.block5 {
		display:none;
	}
}
.list1{
	width: 140px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	line-height: 24px;
	color: #626262;
	font-weight: 400;
}
@media (max-width: 768px) {
	.list1 {
		max-width: 300px;
		display: flex;
		justify-content: space-around;
	}
}
.text{
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	font-weight: 400;
}
a, .color {
	padding: 2px;
	color: #626262;
}
a:visited {
	color: #626262;
}
a:hover {
	text-decoration: none;
	color: #fff;  
	background: #e24486;
}
h4, .nav-menu { 
	text-transform: uppercase;
}
.color2{
	color: #b4ad9e;
}
@media (max-width: 768px) {
	.icon {
		font-size: 25px;
		font-weight: 500;
	}
}